.container {
    width: 100%;
}
.wrap-fixed {
    width: 300px;
    height: 300px;
    border: 1px solid red;
}
.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-right: 400px;
    margin-top: 103px;
    padding: 0 20px;
}
.card {
    position: relative;
    cursor: pointer;
}
.card:hover .product-content {
    position: absolute;
    bottom: 67px;
    right: 0;
    padding: 10px 20px;
    background: #fff;
    display: block;
}
.product-name {
    height: 100px;
    overflow: hidden;
}
.product-content {
    display: none;
}
.product__description {
    height: 103px;
    overflow: hidden;
}
.product-btn {
    background-color: #1976d2;
    padding: 16px 0;
    width: 100%;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
}
.product-btn:hover {
    background-color: #1565c0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.15), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}